.jupyter-widgets.leaflet-widgets{
    height: 100%;
}
#main_map{
    height: 90vh;
}

.model-selection-container{
    top: 10vh;
    right: 50px;
    position: absolute;
    z-index: 1000;
    cursor: inherit;
    background: white;
    opacity: 70%;
    width: 300px;
    height: 70vh;
    overflow: scroll;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: opacity 0.5s;
}

.model-selection-container:hover{
    opacity: 100%;
}

.dependence-summary-table-container{
    font-size: 14px;
}

.leaflet-image-layer{
    image-rendering: pixelated;
}